body {
  background-color: #f8f9fa;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  transition: box-shadow 0.3s ease;
}

.header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.main-content {
  padding: 1rem;
}

.header .header-logo {
  column-gap: 10px;
}
.header .header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.header-logo img {
  height: 40px;
}

.header-name {
  font-weight: bold;
  margin-left: 10px;
}

.header-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: auto;
}
.nav-container {
  width: 100%;
}
.sidebar {
  display: flex;
  flex-wrap: wrap;
  z-index: 8;
  position: relative;
  color: #000;
  width: 100%;
  padding: 20px;
}
.sidebar .list-unstyled {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;

  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .list-unstyled .level1 {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: auto;
  z-index: 8;
  position: relative;

  white-space: nowrap;
  flex-shrink: 1;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.sidebar .list-unstyled .level1.home,
.sidebar .list-unstyled .level1.home {
  display: none;
}

.sidebar .list-unstyled .level1.parent .font-weight-bold::after {
  font-family: "Font Awesome 6 Free";
  content: "\f078"; /* Unicode do fa-chevron-down */
  font-weight: 900;
  transition: transform 0.3s ease;
}

.sidebar .list-unstyled .level1 .font-weight-bold.icon-rotated::after {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}
.sidebar
  .list-unstyled
  .level1
  .font-weight-bold
  .fa-chevron-down.icon-rotated {
  transform: rotate(-180deg);
}

.sidebar .list-unstyled .level1 .font-weight-bold {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.sidebar .list-unstyled .subCat {
  display: none;
  transition: all 0.3s ease;
  width: 220px;
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  gap: 20px 30px;
}
.sidebar .list-unstyled .subCat.show {
  position: absolute;
  top: 110%;
  left: 0;
  display: flex;
  flex-direction: column;
}
.sidebar .list-unstyled .subCat li a {
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.sidebar .list-unstyled .subCat li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* ajusta a posição da linha */
  width: 0%;
  height: 2px;
  background-color: currentColor; /* mesma cor do texto */
  transition: width 0.3s ease;
}

.sidebar .list-unstyled .subCat li a:hover::after {
  width: 100%;
}

.sidebar ul {
  width: 100%;
}

.sidebar .list-unstyled li a,
.sidebar .list-unstyled li .font-weight-bold {
  color: #000;
  text-decoration: none;
  display: block;

  font-size: 14px;
  font-weight: 600;
}

.sidebar .submenu {
  display: none;
  padding-left: 20px;
  margin-bottom: 10px;
}

.sidebar .submenu a {
  font-size: 0.9rem;
}

/* Hamburguer só aparece no mobile */
.mobile-toggle {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .mobile-toggle {
    display: block;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background: #00d2b4;
    transition: left 0.3s ease;
    z-index: 999;
    overflow-y: auto;
  }

  .nav-container.open > nav > ul > li > .font-weight-bold::after {
    color: #fff;
    transform: rotate(-90deg);
  }
  .nav-container.open > nav > ul > li > .font-weight-bold.icon-rotated {
    color: #000;
  }

  .nav-container.open {
    left: 0;
  }

  .close-btn {
    padding: 10px;
  }
  .close-btn i {
    color: #fff;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
}
.bottom-nav i {
  font-size: 20px;
}
.profile-img {
  width: 40px;
  border-radius: 50%;
}

/* Banners*/
.carousel-item img {
  max-height: 1024px;
  object-fit: cover;
}

.thumb {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumb:hover {
  transform: scale(1.05);
}

section {
  display: block;
  float: left;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
} /* Container do treinamento */
.treinamento {
  padding: 2rem 1rem;
  background-color: #f0f0f0;
}

/* Título e link */
.treinamento h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #212529;
}

.treinamento a.text-primary {
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: 600;
}

.treinamento a.text-primary:hover {
  text-decoration: underline;
}

/* Tabs */

.treinamento .nav-tabs {
  column-gap: 10px;
}
.nav-tabs .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  color: #6c757d;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  background-color: #e8f1ff;
  border-radius: 20px;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #167f71;
}

/* tab-pane */
.slick-initialized .slick-list .slick-track {
  display: flex;
  gap: 15px;
}
.treinamento .tab-pane .carousel-treinamentos .slick-arrow {
  z-index: 10;
}
.treinamento .tab-pane .carousel-treinamentos .slick-prev {
  left: 15px;
}
.treinamento .tab-pane .carousel-treinamentos .slick-next {
  right: 15px;
}

/* Cards */
.card-training {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.card-training:hover {
  transform: translateY(-5px);
}

.card-training img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-training .card-body {
  padding: 1rem;
  position: relative;
}

.card-training .nivel {
  font-size: 0.875rem;
  color: #6c757d;
  margin-bottom: 0.25rem;
}

.card-training h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  color: #212529;
}

/* Carousel controls */
.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  color: #333;
  transition: background 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #e9ecef;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 1.5rem 1.5rem;
  background-position: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1050;
  }

  .nav-container {
    transition: transform 0.3s ease;
  }

  .nav-container.mobile-hidden {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00d6a1; /* ou o verde do exemplo */
    overflow-y: auto;
    z-index: 1040;
    padding-top: 4rem;
  }

  .nav-container.show-mobile-menu {
    transform: translateX(0);
  }

  .nav-container .list-unstyled {
    flex-direction: column;
    gap: 0;
  }

  .nav-container .level1 {
    width: 100%;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  .nav-container .level1.parent span,
  .nav-container .level1 a {
    width: 100%;
    align-items: self-start;
    justify-content: space-between;
    width: 100%;
  }

  .nav-container .subCat {
    position: relative;
    box-shadow: none;
    padding-left: 1rem;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    background-color: transparent;
  }
  .sidebar .list-unstyled .subCat.show {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    background-color: transparent;
    box-shadow: unset;
  }
  .sidebar .list-unstyled .subCat.show li a {
    color: #fff;
  }
  .nav-container .subCat.show {
  }
  .card-training img {
    height: 140px;
  }

  .treinamento h2 {
    font-size: 1.5rem;
  }

  .nav-tabs .nav-link {
    font-size: 0.9rem;
  }
}

/* POSTS*/
#posts .carousel-posts {
  width: 100%;
}
#posts .carousel-posts {
  width: 100%;
}
.post-card {
  border-radius: 1rem;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-tag {
  font-size: 0.8rem;
}

/* END POSTS*/
